<div class="container">
  <mat-toolbar color="primary" class="main-toolbar">
    <span>Audio Player</span>
  </mat-toolbar>
  <div class="content">
      <div class="logo">
        <mat-icon>music_note</mat-icon>
        <div>Audio Player</div>
    </div>
    <mat-form-field *ngIf="hosts$ | async as hosts">
      <mat-label>Filter By Host</mat-label>
      <mat-select (selectionChange)="onSelectedHost($event)">
        <mat-option *ngFor="let host of hosts" [value]="host" >
          {{host}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf=" levels$  | async as levels">
      <mat-label>Filter By Level</mat-label>
      <mat-select (selectionChange)="onSelectedLevel($event)">
        <mat-option *ngFor="let level of levels" [value]="level" >
          {{level}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-list color="primary" *ngIf="filteredPodcasts$ | async as filteredPodcasts">
      <h3 mat-subheader>Podcasts</h3>
      <mat-list-item *ngFor="let podcast of filteredPodcasts; let i = index" (click)="openFile(podcast)">
        <mat-icon color="primary" matListItemIcon>music_note</mat-icon>
        <div matListItemTitle>{{ podcast.title }}</div>
        <div matListItemLine>desc: {{ podcast.description }}</div  >
        <div matListItemLine>by {{ podcast.host }}</div  >
        <mat-icon color="primary" *ngIf="currentPodcast.index === i && !state?.error">volume_up</mat-icon>
        <h6 *ngIf="currentPodcast.index === i && state?.error">ERROR</h6>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="media-footer">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        {{ currentPodcastTitle }}
      </mat-toolbar-row>
      <mat-toolbar-row>
         {{ state?.readableCurrentTime }}
         <mat-slider class="time-slider" min="0" [max]="state?.duration" [step]="1"  (input)="onSliderChangeEnd($event)" [disabled]="false">
          <input matSliderThumb [(ngModel)]="state!.progress" #slider>
         </mat-slider>
         {{ state?.readableDuration }}
      </mat-toolbar-row>
      <mat-toolbar-row class="media-action-bar">
        <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="state?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
